.main-section{
  width: 286px !important;
  position: fixed;
  right:50px;
  bottom:-465px;
  z-index: 1;
  box-shadow: 0px 0px 30px rgba(0,0,0,.3);
}

.first-section:hover{
  cursor: pointer;
}
.open-more{
  bottom:0px;
  transition:700ms;
}
.border-chat{
  /* border:2px solid #ccc; */
  border-bottom: none;
  border-top: none;
  margin:0 !important;
}

.border-chat:first-child > div {
  height:28px;
  border-radius: 5px 5px 0 0;
}

.first-section{
  background-color:#7553A4;
}
.first-section p{
  color:#fff;
  margin:0px;
  padding: 3px 0px;
}
.first-section p:hover{
  color:#fff;
  cursor: pointer;
}
.right-first-section{
   text-align: right;
}
.right-first-section i{
  color:#fff;
  font-size: 15px;
  padding: 5px 0;
}
.right-first-section i:hover{
  color:#fff;
}
.chat-section ul li{
  list-style: none;
  margin: 7px;
  position: relative;
}
.chat-section{
  overflow-y: auto;
  height: 255px;
}
.chat-section ul{
  padding: 0px;
}
.left-chat img,.right-chat img{
  width:50px;
  height:50px;
  float:left;
  margin:0px 10px;
}
.right-chat img{
  float:right;
}
.second-section{
  padding: 0px;
  margin: 0px;
  background-color: #fff;
  height: 300px;
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
  height: 255px !important;
  padding:0 !important;
}

.main-section .header {
  display: grid;
  background-color: white;
  align-items: center;
  line-height: normal;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: .5em;
  height: 45px !important;
  letter-spacing: normal;
  border-bottom: 2px solid #ddd;
}

.main-section .header .close {
  width: 13px;
  margin-right: 10px;
  padding: 0;
}

.main-section .header .img-wrapper {
  position: relative;
  margin-left: 8px;
}

.main-section .header .img-wrapper img {
  height: 31px;
  width: 31px;
  border-radius: 50%;
}

.main-section .header .img-wrapper span {
  position: absolute;
  padding: 4px;
  border-radius: 50%;
  right: 0px;
  top: 20px;
  background-color: #a5a5a5;
  border: 2px solid white;
}

.main-section .header .img-wrapper span.online {
  background-color: lawngreen;
}

.main-section .header .name-and-status {
  display: flex;
  flex-direction: column;
}

.main-section .header .name-and-status a {
  font-weight: bold;
  color:#333;
  text-transform: capitalize;
}

.main-section .header .name-and-status a:hover {
  text-decoration: underline !important;
}

.main-section .header .name-and-status span {
  color:#777;
  font-size: 12px;
}

.left-chat,.right-chat{
  overflow: hidden;
}
.left-chat p,.right-chat p {
  padding: 5px 10px;
  color:#fff;
  border-radius: 20px; 
  float:left;
  width:65%;
  word-break: break-word;
  font-size: .95em;
  margin: 0;
}

.left-chat p {
  border-bottom-left-radius: 3px;
  background-color: #7553A4;
}

.left-chat span,.right-chat span{
  position: absolute;
  left:70px;
  top:60px;
  color:#B7BCC5;
}
.right-chat span{
  left:45px;
}
.right-chat p {
  float:right;
  background-color: #ed6c05;
  border-bottom-right-radius: 3px;
}
.third-section{
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
  background-color:#fff;
  margin-top:-1px;
}

.text-bar {
  padding: 5px 0;
}

.text-bar > div {
  padding: 0px 2px;
  display: grid;
  position: relative;
  grid-template-areas: 'field send';
  grid-template-columns: 1fr auto;
  grid-gap: 4px;
  margin-left: 6px;
}

.text-bar a i{
  background-color:#7553A4;
  color:#fff;
  width:30px;
  height:30px;
  padding:7px 0px;
  border-radius: 50%;
  text-align: center;
}

/* chat box changes */

.right-first-section a:first-child{
  display:none;
}

.right-first-section .fa-times {
  font-size:2rem;
}

#user_name {
  font-weight:700;
}

#bb {
  position: absolute;
  top: 6px;
  left: 11px;
}

#bb .attach {
  background: none;
  color: #777;
  font-size: 19px;
  cursor: pointer;
}

.arrow_button {
  border:none;
  background-color:#fff;
  padding:0;
  margin-right: 5px;
  position: relative;
  top: 2px;
  grid-area: send;
}

.arrow_button svg{
  width:23px !important;
  fill: #7553A4;
}

.main-section .emojionearea {
  grid-area: field;
  border-radius: 30px;
  height: 30px;
}

.main-section .emojionearea > .emojionearea-button {
  top: 2px;
}

.main-section .emojionearea .emojionearea-editor {
  padding-left: 21px;
}

.main-section .emojionearea .emojionearea-editor:empty:before {
  font-size: 13px;
}

.main-section #error {
  display: none;
}

@media (max-width:500px) {
  .main-section {
    width:95vw !important;
    right:0;
    margin-right:2.5vw; 
  }

  .second-section{
    height:240px;
  }
}