.main-section{
  width: 286px !important;
  position: fixed;
  right:50px;
  bottom:-465px;
  z-index: 1;
  box-shadow: 0px 0px 30px rgba(0,0,0,.3);
}

.emojiPicker .active {
  height:auto !important;
}

.first-section:hover{
  cursor: pointer;
}
.open-more{
  bottom:0px;
  transition:700ms;
}
.border-chat{
  /* border:2px solid #ccc; */
  border-bottom: none;
  border-top: none;
  margin:0 !important;
}

.border-chat:first-child > div {
  height:28px;
  border-radius: 5px 5px 0 0;
}

.first-section{
  background-color:#7553A4;
}
.first-section p{
  color:#fff;
  margin:0px;
  padding: 3px 0px;
}
.first-section p:hover{
  color:#fff;
  cursor: pointer;
}
.right-first-section{
   text-align: right;
}
.right-first-section i{
  color:#fff;
  font-size: 15px;
  padding: 5px 0;
}
.right-first-section i:hover{
  color:#fff;
}
.chat-section ul li{
  list-style: none;
  margin-top:10px;
  position: relative;
}
.chat-section{
  overflow-y:scroll;
  height:300px;
}
.chat-section ul{
  padding: 0px;
}
.left-chat img,.right-chat img{
  width:50px;
  height:50px;
  float:left;
  margin:0px 10px;
}
.right-chat img{
  float:right;
}
.second-section{
  padding: 0px;
  margin: 0px;
  background-color: #fff;
  height: 300px;
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
  height: 255px !important;
  padding:0 !important;
}

.main-section .header {
  display: grid;
  background-color: white;
  align-items: center;
  line-height: normal;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: .5em;
  height: 45px !important;
  letter-spacing: normal;
  border-bottom: 2px solid #ddd;
}

.main-section .header .close {
  width: 13px;
  margin-right: 10px;
  padding: 0;
}

.main-section .header .img-wrapper {
  position: relative;
  margin-left: 8px;
}

.main-section .header .img-wrapper img {
  height: 31px;
  width: 31px;
  border-radius: 50%;
}

.main-section .header .img-wrapper span {
  position: absolute;
  padding: 4px;
  border-radius: 50%;
  right: 0px;
  top: 20px;
  background-color: lawngreen;
  border: 2px solid white;
}

.main-section .header .name-and-status {
  display: flex;
  flex-direction: column;
}

.main-section .header .name-and-status a {
  font-weight: bold;
  color:#333;
  text-transform: capitalize;
}

.main-section .header .name-and-status a:hover {
  text-decoration: underline !important;
}

.main-section .header .name-and-status span {
  color:#777;
  font-size: 12px;
}

.left-chat,.right-chat{
  overflow: hidden;
}
.left-chat p,.right-chat p{
  background-color:#7553A4;
  padding: 10px;
  color:#fff;
  border-radius: 5px; 
  float:left;
  width:60%;
  /* margin-bottom:20px; */
}
.left-chat span,.right-chat span{
  position: absolute;
  left:70px;
  top:60px;
  color:#B7BCC5;
}
.right-chat span{
  left:45px;
}
.right-chat p{
  float:right;
  background-color: #FFFFFF;
  color:#7553A4;
}
.third-section{
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
  background-color:#f3f3f3;
  margin-top:-1px;
}

.text-bar > div {
  padding: 0px 2px;
}

.text-bar a i{
  background-color:#7553A4;
  color:#fff;
  width:30px;
  height:30px;
  padding:7px 0px;
  border-radius: 50%;
  text-align: center;
}
.left-chat:before{
  content: " ";
  position:absolute;
  top:0px;
  left:55px;
  bottom:150px;
  border:15px solid transparent;
  border-top-color:#7553A4; 
}
.right-chat:before{
  content: " ";
  position:absolute;
  top:0px;
  right:55px;
  bottom:150px;
  border:15px solid transparent;
  border-top-color:#fff; 
}

/* chat box changes */

.right-first-section a:first-child{
  display:none;
}

.right-first-section .fa-times {
  font-size:2rem;
}

.emojiPicker {
  width: 295px !important;
}

.emojiPicker .sections {
  height:266px !important;
}

.emojiPicker .shortcode  {
  background-color:#f3f3f3;
}

.emojiPicker .shortcode .eod {
  margin-top:7px;
}

.emojiPickerIcon {
  border-radius:99px;
  left:6px;
}

#user_name {
  font-weight:700;
}

.text-bar input{
  width: 239px !important;
  border-radius:30px !important;
  margin-top:5px;
  padding:3px;
  padding-left:35px;
  margin-bottom:5px;
  margin-left:5px;
  /* margin-right:160px; */
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding-right: 32px;
}

.emojiPickerIcon.black {
  height: 30px !important;
  width: 30px !important;
  top: 6px !important;
  background-color:red;
}

#bb {
  position: absolute;
  bottom: 1px;
  right: inherit;
  left: 218px;
}

#bb .attach {
  /* position: fixed; */
  right: 100px;
  width:26px;
  box-sizing: border-box;
  background: none;
  color: #777;
  width: 0;
  font-size: 20px;
  margin-right: 18px;
  cursor: pointer;
}

.arrow_button {
  /* border:2px solid green; */
  border:none;
  background-color:#f3f3f3;
  border-radius: 99px;
  padding:0;
  position: absolute;
  right: -210px;
  top: -33px;
}

.arrow_button svg{
  width:23px !important;
  fill: #7553A4;
}

@media (min-width:768px) {
  .emojiPicker {
    left: -138px !important;
    top: -48px !important;
  }
}

@media (max-width:768px) {
  .emojiPicker {
    left: 2px !important;
    /* width: 355px !important; */
    top: -65px !important;
    
  }
 }

@media (max-width:640px) {
  /* .emojiPickerIcon.black, .arrow_button, #bb {
    bottom:50px !important;
  } */
  .emojiPickerIcon.black {
    top:6px !important;
    width:36px;
    width:36px;
  }

  #user_name {
    font-size:14px;
  }
}

@media (max-width:500px) {
  .main-section {
    width:100%;
    max-width: 90vw;
    right:0;
    margin-right:5vw; 
  }

  .second-section{
    height:240px;
  }

  #bb .attach{
    right:19vw; 
  }

  .arrow_button {
    right: 2px;
    top: 7px;
  }

  .text-bar input {
    width: 310px !important;
  }

  .emojiPicker {
    width: 100% !important;
    max-width: 89vw !important;
    height:320px !important;
    top: -35px !important;
  }

  .emojiPicker .sections {
    height: 236px !important;
  }

  .emojiPickerIconWrap input[type='text'] {
    width: 77vw !important;
  }
}

@media (max-width:370px) {
  .text-bar .col-xs-11 {
    width:91%;
  }
}

@media (max-width:341px) {
  .text-bar .col-xs-11 {
    width:90%;
  }
}

@media (max-width:304px) {
  .text-bar .col-xs-11 {
    width:89%;
  }
}