.user_name_db
{
  color: white;
  margin-top: 15px;
}


*
{
  margin: 0px;
  padding: 0px;
}

.navbar-default
{
  background-color: #5a378c;
  /* height:61px; */
  border-color:darkorange;
}

.innermenu
{
  margin-top:5px;
}

.logo_height
{
  margin-top: 8px;
}

.lenght
{
  width:288px;
}

.notify_section
{
  padding-top:5px; 
}

.navbar-default .navbar-nav>li>a.menudesign
{
    color:#ffffff;
    font-family: Arial;
    font-weight: bold;
    font-size: 15px;
}

.icon_color
{
  color: white;
}

.main_inbox_div
{
  width:100%;
  height:300px;
  /*background-color:red;*/
  overflow-y:auto;
  overflow-x: hidden;
}

ul.side_nav
{
  margin-left:20px;
  text-decoration: none;
  list-style-type:none;
}

.side_menu
{
  width: 93%;
  height:40px;
  /*background-color:red;*/
  font-size:18px;
  font-weight: bold;
  color: white;
  border-bottom:2px solid #4b4464;

}

a.r
{
  color: white;
  text-decoration: none;
}

/* ul.go_more
{
  width: 200px;
} */

/* li.dropdown a.dropdown-toggle
{
  background-color: #5a378c;
} */

.distance
{
  margin-right: 30px;
}

.social_icon
{
  margin-top: 30px;
}

.user_img
{
  border:2px solid #ffffff;
  border-radius:3px;
}

.footer_sec
{
  background-color: #ed6c05;
}
.no-padding
 {
  padding:0px !important;
}

.navbar-default .navbar-nav>.open>a
{
  background-color: #5a378c;
}

.fhead
{
    font-size: 20px;
    padding-bottom: 10px;
    color: #ffffff;
    font-family:sans-serif;
    font-weight:400;
}
td.flinks a
{
    color: white;
    line-height:30px;
    font-size:13px;
    font-family:sans-serif;
}

.subscribe
{
    color: white;
    font-size:18px;
    font-weight:150;
}
.subt
{
    color:white;
    line-height:20px;
}
.pointer {
	cursor: pointer;
	color: white;
}
.searchcontainer
{
    line-height:20px;
}
.searchcontainer button {
    float: right;
    padding: 12px 14px;
    margin-top: -44px;
    margin-right: -10px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    font-size: -9px;
    /* color: black; */
}

tr.tpsrch th a
{
    display: inline-block;
    border-right:1px solid white;
    margin-left: 10px;
    padding-right:10px;
    color: #ffffff; 
    font-weight:150;
}
.folow
{
    padding-top:15px;
    color: white;
    font-size:20px;   
}
.fa-facebook-square:before
{
    color:#ffffff;
    
}
.fa-youtube-square:before
{
    color:#ffffff; 
}
.fa-twitter-square:before
{
    color:#ffffff; 
}
.fa-google-plus-square:before
{
    color:#ffffff; 
}
.paymg
{
    padding-top:15px;
}

tr.dosrch th a
{
    display: inline-block;
    border-right:1px solid #ffffff;
    margin-left: 10px;
    padding-right:20px;
    color: #ffffff; 
    font-weight:150;
}

.letdown
{
  margin-top: 100px;
}

li.listborder
{
  width:100%;
  height:50px;
  /*background-color: red;*/
  border:5px;
  border-color: red !important;
  /*border-radius: 3px solid yellow;*/
  padding:15px;
  font-size: 16px;
  color: #000000;
  font-weight: bold;
}

.mgtd
{
  padding-top:30px;
  padding-bottom: 30px;
}

.mrtp
{
  margin-top: 100px;
}

ul.listofmenu
{
  list-style-type: none;
  line-height:50px;
}

ul.listofmenu li a
{
  font-size: 14px;
  font-family: Arial;
  font-weight: bold;
}

.badge
{
  float: right;
  margin-top:15px;
}

.box_body
{
  width:100%;
  height: auto;
  /*background-color: yellow;*/
}

.head_box
{
  width: 100%;
  height:60px;
  /*background-color:red; */
  border-radius: 5px 5px 0px 0px;
}

.content_body
{
  width: 100%;
  height: 440px;
  background-color:#9e9e9e1a;
  border-radius: 0px 0px 5px 5px;
  display: none;
}

.one
{
  background-color:#b1b1b1;
}

.cbone
{
  border:2px solid #c4c4c4;
}

.two
{
  background-color:#b1b1b1; 
}



.three
{
  background-color:#b1b1b1; 
}

.four
{
  background-color:#b1b1b1; 
}

.five
{
  background-color:#b1b1b1; 
}

.six
{
  background-color:#b1b1b1; 
}

.seven
{
  background-color:#b1b1b1; 
}

.eight
{
  background-color:#b1b1b1; 
}

.nine
{
  background-color:#b1b1b1; 
}

.headings
{
  font-size:24px;
  font-weight: bold;
  color: white;
  padding-left: 50px;
  padding-top: 10px;
  font-family: Arial;
  float: left;
}

.numbers {
    float: right;
    margin-right: 50px;
    color: white;
    font-size: 25px;
    font-family: Arial;
    margin-top: 8px;
    width: 50px;
    /* background-color: red; */
    font-weight: bolder;
    border-left: 2px solid white;
    padding-left: 7px;
}

.scrollablediv
{
   width:109%;
    height:439px;
    background-color:white;
    overflow: auto;
    overflow-y: scroll;
    max-width:100%;
    max-height:440px;
    padding-left: 15px;

}

.scrollablediv::-webkit-scrollbar {
    width:8px;
}

.scrollablediv::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.scrollablediv::-webkit-scrollbar-thumb {
  /*background-color: #2ed5e6d6;*/
  background-color: #c4c4c4;
  outline: 1px solid slategrey;
}

.inner_main_div
{
  width: 90%;
    float: left;
    margin-left: 3%;
    /* background-color: red; */
    margin-top: 5px;
    border-bottom: 1px solid #b4b4b4;
}

.inner_img_div {
    float: left;
    width: 15%;
    height: 70px;
    /*background-color: green;*/
    padding-left: 24px;
    padding-top: 2px;
}

.user_image
{
    width: 65px;
    height: 65px;
    border-radius: 30px; 
}

.inner_msg_div
{
  float: left;
  width: 65%;
  height: 70px;
  /*background-color: yellow;*/
}

.inner_div_time
{
  float: left;
  width: 20%;
  height: 70px;
  /*background-color: green;*/
}

.msg_txt
{
  color: #000000;
    font-size: 12px;
    font-family: Arial;
    padding-top: 25px;
}

.time_div
{
    padding-top: 31px;
    padding-left: 82px;
    color: black;
    font-size: 12px;
}

.date_div
{
 padding-top: 0px;
    padding-left: 38px;
    color: black;
}

.badge_img
{
     float: left;
   
    width: 30px;
    margin: 10px;
    
}

#containr {
  margin: 20px;
  width: 100px;
  height: 100px;
  position: relative;
  float:right;
}



/* Kashif's Working */

.dashboard-h2,
.dashboard-h3 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";

}
.dashboard-h3 {
	
	font-size: 20px;
}
.badge-main {
	width: 95%;
	background-color: #4b4760;
	margin-top: 10px;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 2px 2px 10px 1px #000;
}
.tb-img {
	margin-top: 50px;
	margin-bottom: 10px;
}
.tb-label,
.tb-details,
.tb-list li,
.dashboard-para,
.gp-text,
.chatbox {
	color: #fff;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
.tb-details {
	margin-top: 20px;
}
.tb-section {
	width: 90%;
	height: 100px;
	background-color: #312f3e;
	margin: 20px auto;
	border-radius: 5px;
	position: relative;
}
.tb-list {
	list-style-type: none;
	position: absolute;
	left: 30px;
	top: 40px;
}
.tb-list li:before {
	content: url('../kashif/tick.png');
	margin-right: 15px;
}
.tb-btn {
	display: inline-block;
	padding: 5px 10px;
	border-radius: 3px;
	border: none;
	outline: none;
	background-color: black;
	color: white;
	margin-top: 35px;
}
.tb-btn:hover,
.tb-btn:focus {
	background-color: white;
	color: black;
	text-decoration: none;
	outline: none;
	border: none;
}
.tb-hr {
	width: 66.9%;
    height: 2px;
    background-color: #4b4760;
    border: none;
    outline: none;
    margin-bottom: -4px;
    margin-left: 167px;
	
}
.tb-modal-title {
	font-size: 24px;
}
.dashboard-para em {
	color: red;
	font-style: normal;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	background-color: #4b4760 !important;
	color: white !important;
}
.nav-tabs>li>a {
	color: white;
}
.nav-tabs>li>a:hover {
	color: black;
}
.album-main,
.main-settings {
	width: 100%;
	background-color: white;
	padding: 50px;
}
.dropzone {
	width: 100%;
	margin: 0 auto 50px;
	border: 2px dashed #000;
}
.g-photos {
	width: 100%;
	height: 200px;
	background-color: #ccc;
	margin-bottom: 30px;
	position: relative;
}
.g-photos img {
	height: 100%;
}
.gp-text {
	width: 100%;
	height: 25px;
	line-height: 25px;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	bottom: 0;
}
.gp-cross {
	width: 18px;
	height: 18px;
	border-radius: 100%;
	background-color: red;
	display: block;
	text-align: center;
	padding-top: 2px;
	position: absolute;
	top: -9px;
	right: -9px;
}
.gp-cross i {
	color: white;
}

/* 28 May 2018 */

.chatbox {
	width: 270px;
	height: 320px;
	background-color: white;
	position: fixed;
	bottom: 0;
	right: 15px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	z-index: 999;
	border: 1px solid #f47e2a;
}
.chatbox p {
	line-height: 50px;
	padding-left: 20px;
}
.chathead {
	width: 100%;
	height: 50px;
	background-color: #5a378c;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

/* 29-May-2018 */

.mp-main {
	width: 100%;
	background-color: white;
	border-radius: 5px;
	padding: 5px 20px 20px;
}
.mp-head {
	color: red;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 16px;
	font-weight: bold;
}
.mp-about {
	/*margin-bottom: 50px;*/
}
.mp-about hr {
	width: 100%;
	border: 1px dashed black;
}
.mp-edit-btn,
.mp-done-btn,
.mp-cancel-btn {
	padding: 5px 10px;
	color: white;
	border-radius: 5px;
}
.mp-edit-btn:hover,
.mp-done-btn:hover,
.mp-cancel-btn:hover {
	color: white;
	text-decoration: none;
}
.mp-edit-btn {
	background-color: #09c;
}
.mp-done-btn {
	background-color: #08884d;
	border: none;
    outline: none;
    height: 26px;
    line-height: 17px;
}
.mp-cancel-btn {
	background-color: #cc0f16;
}
.mp-textarea {
	resize: vertical;
	width: 450px;
	border: 1px solid #ccc;
	border-radius: 5px;
}
.mp-basic-info,
.mp-religious-info {
	width: 700px;
}
.mp-form-list {
	list-style-type: none;
}
.mp-form-list li {
	display: inline-block;
	width: 49%;
	margin-bottom: 20px;
}
.mp-bio-label {
	font-weight: bold;
	font-size: 12px;
	width: 130px;
	display: inline-block;
}
.mp-bio-ans {
	font-size: 12px;
}
.col-form-label {
	font-size: 13px;
	margin-top: 10px;
}
.basic-info-form {
	width: 100%;
}
.mp-content {
	width: 50%;
}

/* Activity Log Page - 29 May 2018 */

.al-main {
	width: 100%;
	padding: 10px 20px 20px;
	background-color: white;
	border-radius: 5px;
}
.al-month {
	font-weight: normal;
	color: red;
}
.al-date {
	background-color: #4b4760;
	color: white;
	display: inline-block;
	padding: 5px 20px 5px 10px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-left: -20px;
}
.al-log {
	list-style-type: none;
	margin: 20px 0;
}
.al-log li {
	font-size: 13px;
	border-bottom: 1px dashed #5d92ff;
	padding: 8px 0;
}
.al-log li em {
	color: black;
	font-size: 12px;
	margin-right: 10px;
}

/* Close Account - 30 May 2018 */

.ca-main {
	width: 100%;
	background-color: #4b4760;
	
	padding: 20px;
}
.ca-head,
.ca-label {
	color: white;
}
.ca-pic {
	width: 70px;
	height: 70px;
	margin-right: 30px;
	margin-bottom: 20px;
}
.ca-pic img {
	width: 100%;
	height: 100%;
}
.ca-name {
	color: white;
	margin-top: 28px;
}
.ca-para {
	color: white;
	display: block;
	margin-bottom: 20px;
}
.ca-reason-box {
	resize: vertical;
	min-height: 100px;
}

/* Statistics - 30 May 2018 */

.stats-head {
	font-size: 18px;
	padding-left: 30px;
    padding-top: 17px;
}
.stats-main {
	border-radius: 5px;
}
.stats-head-link {
	font-size: 12px;
	color: black;
	margin-left: 30px;
}
.stats-head-link:hover {
	color: black;
	text-decoration: underline;
}
.right-counter-part {
	margin-right: 20px;
}
.right-counter-new {
	font-size: 18px;
	border-right: 1px solid black;
	margin-top: 18px;
    padding-right: 10px;
    margin-right: 10px;
}
.right-counter-old {
	font-size: 18px;
	margin-top: 18px;
}
.right-counter-new em,
.right-counter-old em {
	font-style: normal;
	font-size: 13px;
}

/* Statistics 31 May 2018 */


.stats-circle {
	width: 100px;
	height: 100px;
	margin: 0 auto 20px;
	position: relative;
	background-size: 100% 100%;
}
.circle1 {
	background-image: url(../kashif/add-to-favorite-stats.png);
}
.circle2 {
	background-image: url(../kashif/profile-view-stats.png);
}
.circle3 {
	background-image: url(../kashif/sent-messages-stats.png);
}
.circle4 {
	background-image: url(../kashif/sent-requests-stats.png);
}
.circle5 {
	background-image: url(../kashif/photo-permission-sent.png);
}
.circle6 {
	background-image: url(../kashif/photo-permission-received.png);
}
.circle7 {
	background-image: url(../kashif/hidden-profile-stats.png);
}
.circle8 {
	background-image: url(../kashif/block-profile-stats.png);
}
.circle9 {
	background-image: url(../kashif/invite-to-view-my-profile-stats.png);
}
.circle10 {
	background-image: url(../kashif/history-with-members.png);
}
.circle11 {
	background-image: url(../kashif/decline.png);
}
.stat-counter {
	width: 30px;
	height: 30px;
	background-color: black;
	position: absolute;
	bottom: 10px;
	left: 35px;
	border-radius: 100%;
}
.stat-counter p {
	color: white;
	text-align: center;
	line-height: 30px;
	font-size: 13px;
}
.stat-li {
	width: 49%;
	display: inline-block;
}


/*Yasir working*/


.sec_1
{
	width: 100%;
	height: auto;
	background-color:#4b4760;
	border:2px solid #ea670f;
	border-radius: 10px;
	margin-top: 15px;
}

.sec_1_inner
{
	width: 80%;
	margin-left:10%;
	height: auto;
	background-color:#4b4760;
	border:1px solid white;
	border-radius: 10px;
	margin-top: 15px;
	margin-bottom: 15px;	
}

.inner_heading
{
	margin-top: 20px;
	color: white;
}

.dashboard-h6
{
	color: white;
}

input[type='checkbox']
{
	margin-top: 10px;
}

.sec_2
{
	width: 100%;
	height: auto;
	background-color:#4b4760;
	border:2px solid #ea670f;
	border-radius: 10px;
	margin-top: 15px;
}

.sec_3
{
	width: 100%;
	height: auto;
	background-color:#4b4760;
	border:2px solid #ea670f;
	border-radius: 10px;
	margin-top: 15px;
}

.sec_4
{
	width: 100%;
	height: auto;
	background-color:#4b4760;
	border:2px solid #ea670f;
	border-radius: 10px;
	margin-top: 15px;
}

.save_btn
{
	width: 90px;
    height: 42px;
    background-color: #ea670f;
    color: white;
    margin-top: 25px;
    border-color: #ea670f;
    border-radius: 5px;
}

.save_btn:hover
{
	background-color: #2B354C;
	color: white;
	border-color: white;
}

.tip_box
{
	width: 100%;
	height: 545px;
	background-color: #ECF0F1;
	margin-top: 25px;
	border-radius: 5px;
	overflow: auto;
    overflow-y: scroll;
    padding: 15px;
}

.tip_box::-webkit-scrollbar {
    width:8px;
}

.tip_box::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.tip_box::-webkit-scrollbar-thumb {
  /*background-color: #2ed5e6d6;*/
  background-color: #c4c4c4;
  outline: 1px solid slategrey;
  border-radius: 5px;
}

.contentoftips
{
	color:#000000;
	text-align:justify; 
}

.listtip
{
	padding-right: 35px;
	padding-left: 25px;
}

.lis
{
	padding-right: 150px;
}


.pakbox
{
	width: 100%;
    height: 250px;
    background-color: red;
    border-radius: 5px;
    padding-top: 26px;
}

.h
{
	margin-bottom: 45px;
}

.arrow
{
	width: 200px;
    height: 40px;
    padding-top: 41px;
    position: relative;
    background: green;
    margin-left: -5px;
}

.arrow:after
{
	 content: "Basic";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

.arrow:before
{
	content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid green;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

.q
{
	color: white;
}

.avb_ques
{
	height: 500px;
	/*background-color: #ECF0F1;*/
	margin-top: 10px;
	border-radius: 5px;
	/*overflow: auto;*/
    overflow-y: scroll;
}



.avb_ques::-webkit-scrollbar {
    width:8px;
}

.avb_ques::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.avb_ques::-webkit-scrollbar-thumb {
  /*background-color: #2ed5e6d6;*/
  background-color: #c4c4c4;
  outline: 1px solid slategrey;
  border-radius: 5px;
}

.avb_ques_1
{
	height: auto;
	/*background-color: #ECF0F1;*/
	margin-top: 10px;
	border-radius: 5px;
	/*overflow: auto;*/
    overflow-y: scroll;
}

.avb_ques_1::-webkit-scrollbar {
    width:8px;
}

.avb_ques_1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.avb_ques_1::-webkit-scrollbar-thumb {
  /*background-color: #2ed5e6d6;*/
  background-color: #c4c4c4;
  outline: 1px solid slategrey;
  border-radius: 5px;
}

.ques_block
{
	width: 100%;
	height: auto;
	/*background-color: green;*/
	border-bottom: 1px solid #000;
	display: inline-block;
	vertical-align:middle;
}

.ques_area
{
	    width: 80%;
    height: auto;
    /* background-color: yellow; */
    float: left;
    padding-top: 22px;
    padding-left: 6px;
    border-bottom: 1px solid #000;
}

.btn_area
{
	    width: 20%;
    height: 50px;
    /* background-color: pink; */
    float: left;
    padding-right: 15px;
    padding-top: 21px;

}

.q_ges
{
	color: #000000;
	font-size: 12px;
	/*float: left;*/
	padding-left: 0px;
	padding-top: 10px;
	padding-right: 25px;
}

.ad
{
	float: right;
	padding-right: 15px;
	padding-top: 10px;
}

.lin
{
	border-bottom:1px solid #000;
}

.mq
{
	margin-bottom: 45px;
}

.notify_area
{
	width: 100%;
	height: 550px;
	overflow-y: scroll;

}

.notify_blok
{
    width: 100%;
    height: 60px;
    /* background:#edf2fa; */
	 border-bottom: 1px solid #dddfe2;
}

.notify_blok:hover
{
	background-color: #F3F6F7;
}

.pic_area
{
	width: 10%;
    height: 60px;
    /*background-color: pink;*/
    padding-left: 24px;
    padding-top: 7px;
    float: left;
}

.img_box
{
	width: 45px;
	/* height: auto; */
	border-radius: 50px;
	/* margin-top: 7px; */
	
}

.img-circle {
	width:45px;
	height:45px;
}

.notify_ar
{
	width: 100%;
	height: 60px;
	/*background-color: black;*/
}

.box_msg
{
	width: 90%;
    height: 30px;
    /*background-color: yellow;*/
    color: #000000;
    font-size: 12px;
	 float: left;
	 /* margin-top:10px; */
}

.box_time
{
	width: 90%;
    height: 30px;
    /* background-color: #d11c1c; */
    color: #000;
    font-size: 10px;
    float: left;
}



.main_bdy0
{
	width: 100%;
	height: 470px;
	background-color:#4b4760;
	border-radius: 5px;
}

.bdylist
{
	list-style-type: none;
	/*border:2px solid #000;*/
	margin: 0;
	padding: 0;
}

.bdylist .header
{
	/*background-color: yellow;*/
	color: white;
	font-size: 25px;
	text-align: center;
}

.prce
{
	color: #ffffff;
}

.bdylist .prce
{
	font-size: 25px;
	text-align: center;
}

.bdylist li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
    color: white;
    /*background-color:#c4c4c4;*/
}

.bdylist .grey {
    /*background-color: #eee;*/
    font-size: 25px;
}



.button {
    background-color: #000;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

a.button
{
	text-decoration: none;
}

a.button:hover
{
	color: white;
}

.ep
{
	margin-bottom: 60px;
}

.time {
	display: inline-block;
	margin-top: 5px;
}

@media (max-width:768px) {

	 tr.dosrch th a {
		font-size:12px;
  }

  .box_msg, .box_time {
	 padding-left:5vw;
	}
	
	.mp-bio-ans {
		margin-left: 5px;
	}
}

@media (max-width:550px) {
	.box_msg, .box_time {
	  padding-left:14vw;
	}
 }

 @media (max-width:334px) {
	.notify_blok {
	  height: 130px;
	}
	.box_msg, .box_time {
		padding-left:24px;
	 }
 }















































