.title{
	text-align: center;
	color: #2c3e50;
 }
 
 /* CONTAINERS */ 
 
 .card-container {max-width: 940px; width: 100%; margin: 0 auto; margin-bottom:20px;} 
 .twelve { width: 100%; } 
 .eleven { width: 91.53%; } 
 .ten { width: 83.06%; } 
 .nine { width: 74.6%; } 
 .eight { width: 66.13%; } 
 .seven { width: 57.66%; } 
 .six { width: 49.2%; } 
 .five { width: 40.73%; } 
 /* .four { width: 32.26%;}  */
 .four { width:30%; }
 .three { width: 23.8%; } 
 .two { width: 15.33%; } 
 .one{ width: 6.866%;}
 
  /* COLUMNS */ 
 
 .col { 
	 display: block; 
	 float:left;
	 margin: 1% 0 1% 1.6%; 
	 font-size:14px;
 } 
 
 .col:first-of-type { margin-left: 0; }
 
  /* CLEARFIX */ 
 
  .cf:before, .cf:after { 
	  content: " "; 
	  display: table; 
  } 
  
  .cf:after {
	 clear: both; 
 } 
  
  .cf { 
	  *zoom: 1; 
  }
 
 /* PROFILES */
 
 .card{
	 max-width: 100%;
	 height: 400px;
	 background-color: #ece1fd;
	 font-family: 'Arimo', sans-serif;
	 font-size: 14px;
	 border-radius:5px;
 }
 
 /* CARD ! */
 
 #card1{
	 text-align: center;
	 color: #2c3e50;
	 /* padding: 15px; */
	 -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
	 box-sizing: border-box;
 }
 
 #card1 .image-wrapper{
	 margin: 20px auto;

 }
 
 #card1 .image-wrapper img {
	width:120px;
	height:120px;
	border: 2px solid #9070BF;
	border-radius:100%;
 }

 #card1 .info .four{
	 text-align: center;
	 border-right: 1px solid #2c3e50;
	 -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
	 box-sizing: border-box;
 }
 
 #card1 .info .four:last-of-type{
	 border-right: none;
 }
 
 #card1 .info .four .number{
	 display: block;
	 font-size: 14px;
	 padding: 3px 0;
	 font-weight: 700;
 }
 
 #card1 .options{
	 /* margin-top: 30px; */
	 text-align: left;
 }
 
 #card1 .options ul{
	 list-style-type: none;
	 padding: 0;
	 margin: 0;
 }
 
 #card1 .options ul .icon{
	 display: inline-block;
	 width: 30px;
	 height: 30px;
	 background-color: #3498db;
	 border-radius: 100%;
	 margin-right: 8px;
	 vertical-align: middle;
	 color: #fff;
	 line-height: 30px;
	 text-align: center;
 }

 #card1 .options ul .icon:first-child {
	background-color:transparent;
}
 
 #card1 .options ul li{
	 /* margin: 12px 0; */
	 margin: 0 0 12px 0;
 }

 .four {
	 padding:0 0 20px 0;
 }

 #card1 li {
	 padding-left: 15px;
 }

 #card1 a {
	color:inherit;
 }

 .name {
	color:inherit;
 }

 /* #card1 .info .four {
	max-width: 82px;
} */

@media (max-width:768px) {
	.sidebar {
		margin:0 15px;
	}

	.card {
		height:410px;
	}

	.card .options {
		margin-top: 30px;
	}
}

@media (max-width:991px) and (min-width:769) {
	.card .col, .number {
		font-size:13px !important;
	}
}