@charset "utf-8";
/* CSS Document */

body {
	/*background: url('../images/demo-bg-image.jpg') no-repeat center center fixed;*/
	background-color:#f7f7f7; 
	/*-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 10px;
	margin: 0;*/
}
.container {
	width: 100%;
	max-width: 900px;
	background: #FFF;
	color: #333;
	margin: 0 auto;
	padding: 50px;
	border-radius: 3px;
	box-sizing: border-box;
}
